{% extends "base.html" %}
{% from "macros/input.html" import text %}

{% block content %}
    <div class="block secondary">
        <h2>Password Reset</h2>
        <p>Forgotten your current password? Go here [insert password reset tool link]</p>
        <form action="{{ url_for('account.post_password_reset') }}" method="POST">
            {{ text(id="current-password", name="current", type="password", required=True) }}
            {{ text(id="new-password", name="new", type="password", required=True) }}
            {{ text(id="confirm-password", name="confirm", type="password", required=True) }}
            <button type="submit" class="button secondary">Reset</button>
        </form>
    </div>
{% endblock %}
