header
    margin-bottom: 3rem
    padding: 2rem
    height: calc(100vh - 6rem)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    font-family: $main-font
    color: RGB($primary)

    > h1
        margin: 0
        font-size: 3rem

        > span
            font-family: $monospace-font
            color: RGB($accent)
    > p
        margin: 0
        font-size: 1.2rem

    > i
        margin: 1rem 0 0
        font-size: 1.2rem
        animation: glow 3s ease-in-out infinite
