@keyframes glow
    0%
        opacity: 0
    50%
        opacity: 1
    100%
        opacity: 0

@keyframes gradient
    0%
        background-position: 0% 0%
    25%
        background-position: 100% 50%
    50%
        background-position: 0% 100%
    75%
        background-position: 50% 25%
    100%
        background-position: 0% 50%

@keyframes title-change
    0%
        transform: translateX(-3rem)
        opacity: 0
        filter: blur(0.2rem)
    100%
        transform: translateX(0)
        opacity: 1
        filter: blur(0)

@media (max-width: 600px)
    @keyframes title-change
        0%
            transform: translateY(-0.5rem)
            opacity: 0
        100%
            transform: translateY(0)
            opacity: 1