{% extends "base.html" %}
{% block content %}
    <div class="block">
        <h2>Hello, {{ current_user.username }}!</h2>
        <p>Sample text</p>
    </div>

    <div class="block">
        <h2>Sessions</h2>
        <p>Devices and games that you logged into. If you're looking to logout all website users, reset your password instead.</p>
        <table>
            {% for session in sessions %}
                <tr id="sess-{{ session.id }}">
                    <td><button onclick="yeetSession({{ session.id }})" class="button secondary"><i class="ph ph-trash"></i></button></td>
                    <td>{{ session.device_type }}</td>
                    <td>{{ session.created_at.strftime('%Y-%m-%d') }}</td>
                    <td>{{ session.last_used.strftime('%Y-%m-%d') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="block secondary">
        <h2>Danger Zone</h2>
        <p>These actions are irreversible. Be careful!</p>
        <a href="{{ url_for('auth.account', action='delete') }}" class="button secondary">Delete Account</a>
        <a href="{{ url_for('auth.account', action='password') }}" class="button secondary">Reset Password</a>
        <a href="{{ url_for('auth.account', action='logout') }}" class="button secondary">Logout</a>
    </div>
{% endblock %}
