{% extends "base.html" %}
{% block content %}
    <div class="block">
        <h2>Login</h2>
        <p>Welcome back!</p>
        <form action="{{ url_for('auth.login') }}" method="POST">
            <span class="text-input">
                <label for="login-username">Username</label>
                <input type="text" name="username" placeholder="Jerry" id="login-username" required>
            </span>

            <span class="text-input">
                <label for="login-password">Password</label>
                <input type="password" name="password" placeholder="password123" id="login-password" required>
            </span>

            <button type="submit" class="button primary">Login</button>
        </form>
    </div>

    <div class="block">
        <h2>Register</h2>
        <p>Don't have an account?</p>
        <form action="{{ url_for('auth.register') }}" method="POST">
            <span class="text-input">
                <label for="register-username">Username</label>
                <input type="text" name="username" placeholder="Jerry" id="register-username" required>
            </span>

            <span class="text-input">
                <label for="register-email">Username</label>
                <input type="text" name="email" placeholder="jerry@example.com" id="register-email" required>
            </span>

            <span class="text-input">
                <label for="register-password">Password</label>
                <input type="password" name="password" placeholder="password123" id="register-password" required>
            </span>

            <button type="submit" class="button primary">Register</button>
        </form>
    </div>
{% endblock %}