<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Front Rooms Highscores{% endblock %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=description content="The Front Rooms official website">
    <meta name=author content="Project Redacted">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    {% assets "styles" %}<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">{% endassets %}

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    {% assets "scripts" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
</head>
<body>
    <div class="search-hint"><p>Start typing to see results...</p></div>

    <!-- Hopefully I can make this change seasonally/weekly/something-ly -->
    <picture class="background">
        <source srcset="{{ url_for('static', filename='images/background.webp') }}">
        <img src="{{ url_for('static', filename='images/background.png') }}" alt="The Front Rooms Level select render">
    </picture>

    <div class="app">
        <!-- Get flashed lol -->
        <div class="flash">
            <!-- My bad -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{ category }}" onclick="this.remove()">
                            <span><i class="ph-bold ph-x"></i></span>
                            {{ message }}
                        </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <header>
            <!-- Overcomplicated header, probably should just use CSS for some of this stuff -->
            <picture class="title">
                <source srcset="{{ url_for('static', filename='images/title.webp') }}">
                <img src="{{ url_for('static', filename='images/title.png') }}" alt="The Front Rooms logo">
            </picture>

            <!-- Import navigation bar -->
            {% include 'navigation.html' %}

            <!-- Second nav for page specific tools -->
            {% block nav %}{% endblock %}
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer><p>By Project Redacted | <a href="https://github.com/Fluffy-Bean/GameExpo23">Server Source</a></p></footer>
    </div>
</body>
</html>