<!DOCTYPE html>
<html lang="en">
<head>
    <title>Front Rooms Highscores</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=description content="The Front Rooms official website">
    <meta name=author content="Project Redacted">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    {% assets "styles" %}<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">{% endassets %}

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    {% assets "scripts" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
</head>
<body>
    <div class="search-hint">
        <p>Start typing to see results...</p>
    </div>

    <picture class="background">
        <source srcset="{{ url_for('static', filename='images/background.webp') }}">
        <img src="{{ url_for('static', filename='images/background.png') }}" alt="The Front Rooms Level select render">
    </picture>

    <div class="app">
        <!-- Get flashed lol -->
        <div class="flash">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{ category }}" onclick="this.remove()"><span><i class="ph-bold ph-x"></i></span>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <header>
            <picture class="title">
                <source srcset="{{ url_for('static', filename='images/title.webp') }}">
                <img src="{{ url_for('static', filename='images/title.png') }}" alt="The Front Rooms logo">
            </picture>

            <nav>
                <a href="{{ url_for('views.index') }}" class="button">Scores</a>
                <a href="{{ url_for('views.about') }}" class="button">About</a>

                <span class="spacer"></span>

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('views.settings') }}" class="button primary">{{ current_user.username }}</a>
                {% else %}
                    <a href="{{ url_for('auth.auth') }}" class="button primary"><i class="ph ph-user-circle"></i></a>
                {% endif %}
            </nav>

            <!-- Secondary nav bar for page specific content -->
            {% block nav %}{% endblock %}
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer><p>By Project Redacted | <a href="https://github.com/Fluffy-Bean/GameExpo23">Server Source</a></p></footer>
    </div>
</body>
</html>