<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Rooms Highscores</title>
    {% assets "styles" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
    {% endassets %}
</head>
<body>
    <img src="{{ url_for("static", filename="bg.png") }}" alt="The Front Rooms pause menu" class="background">
    <div class="app">
        <img src="{{ url_for("static", filename="title.png") }}" alt="The Front Rooms logo" class="title">
        <!-- <p class="subtitle">Project <span>Redacted</span></p> -->

        <nav>
            <a href="Level1">Level 1</a>
            <a href="Level2">Level 2</a>
            <a href="Level3">Level 3</a>
            
            <hr>

            <a href="Normal">Normal</a>
            <a href="Hard">Hard</a>
        </nav>
    
        {% block content %}{% endblock %}
    </div>
</body>
</html>