{% macro text(id, name, type="text", required=False, minlength=0, value="") %}
    <span class="text-input">
        <label for="{{ id }}">
            {{ name|title }}
            {% if required %}
                <span style="color: rgb(var(--secondary)) !important;">*</span>
            {% endif %}
        </label>

        <input
            type="{{ type }}"
            name="{{ name }}"
            id="{{ id }}"
            {% if value %}value="{{ value }}"{% endif %}
            {% if required %}required{% endif %}
            minlength="{{ minlength }}"
        >
    </span>
{% endmacro %}
