<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Event 23</title>

    <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap">

    <!-- Phosphor Icons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <!-- Stylesheets -->
    {% assets "scripts" %}<script src="{{ ASSET_URL }}" defer></script>{% endassets %}

    <!-- Scripts -->
    {% assets "styles" %}<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" defer>{% endassets %}
</head>
<body>
    <nav>
        <h1>DV8 Game Expo <span>2023</span></h1>
        <span><!-- This is a separator --></span>
        <a href="{{ url_for('website.index') }}#">Home</a>
        <a href="{{ url_for('website.index') }}#About">About</a>
        <a href="{{ url_for('website.index') }}#Games">Games</a>
        {% if current_user.is_authenticated %}<a href="{{ url_for('website.logout') }}">Logout</a>{% endif %}
    </nav>

    <span class="background">
        <img src="{% block background %}{% endblock %}" alt="Background">
    </span>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Game Event 2023 | <a href="https://github.com/Fluffy-Bean/GameExpo23" target="_blank">Server Source</a></p>
    </footer>
</body>
</html>