{% extends "base.html" %}
{% block background %}
    {% if game.background %}
        {{ url_for('static', filename='images/backgrounds/' + game.background) }}
    {% else %}
        {{ url_for('static', filename='images/default.jpg') }}
    {% endif %}
{% endblock %}
{% block content %}
    <header>
        {% if game.logo %}
            <img src="{{ url_for('static', filename='images/logos/' + game.logo) }}" alt="{{ game.name }} Logo">
        {% else %}
            <h1>{{ game.name }}</h1>
        {% endif %}
        <p>By {{ game.studio }}</p>
        <p>
            {% for person in game.authors %}
                {{ person.name }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    </header>

    <section id="Description">
        <h2>Description</h2>
        <p>{{ game.description }}</p>
    </section>

    <section id="Tags">
        <ul>
            {% for tag in game.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="Images">
        {% for image in game.images %}
            <img src="{{ url_for('static', filename='images/user/' + image) }}" alt="{{ image.alt }}">
        {% endfor %}
    </section>
{% endblock %}