{% extends "base.html" %}
{% block background %}{{ url_for('static', filename='images/3.jpg') }}{% endblock %}
{% block content %}
    <header>
        <p>Welcome to the</p>
        <h1>DV8 Game Expo <span>2023</span>!</h1>
        <i class="ph-bold ph-caret-double-down"></i>
    </header>

    <section id="About">
        <h2>About</h2>
        <p>Tap to add text</p>
    </section>

    <section id="Games">
        <h2>Games</h2>
        <p>Here are some games AAAA</p>

        <div class="games">
            {% for game in games %}
                <div class="game-box">
                    {% if game.thumbnail %}
                        <img src="{{ url_for('static', filename='thumbnails/' + game.thumbnail) }}" alt="game image">
                    {% else %}
                        <img src="{{ url_for('static', filename='thumbnails/default.jpg') }}" alt="game image">
                    {% endif %}

                    <h2>{{ game.name }}</h2>
                    <p>{{ game.description|truncate(100) }}</p>

                    <div class="options">
                        <a href="{{ url_for('website.g', game_id=game.id) }}" style="width: 100%">View</a>
                        {% if game.downloadLink %}<a href="{{ game.downloadLink }}" style="background-color: var(--secondary-button); width: 2.5rem"><i class="ph ph-download"></i></a>{% endif %}
                        <a href="#" style="background-color: var(--secondary-button); width: 2.5rem"><i class="ph ph-warning"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}