{% extends "base.html" %}
{% block background %}{{ url_for('static', filename='images/3.jpg') }}{% endblock %}
{% block content %}
    <section class="center">
        <div class="login">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% else %}
                    <p>Do not share your UUID</p>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('login') }}" method="POST">
                {{ form.csrf_token }}
                {{ form.uuid(size=36) }}
                <button type="submit">Login</button>
            </form>
        </div>
    </section>
{% endblock %}